<footer class=" footer">
  <div class=" container-fluid">
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i> by
      <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank"> Creative Tim </a>
      for a better web.
    </div>
  </div>
</footer>
