
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title">Products</h4>
          <!-- <p class=" category">
          </p> -->
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              *ngFor="let p of products">
              <div class=" font-icon-detail">
                <a on-click="getProduct(p)" href="/#/product_details">
                  <img alt="..." class=" avatar-large" src="assets/img/merchandise.jpg" />
                </a>
                <div class=" card-description">{{p}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
