
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">{{product.itemid}}</h5>
              <h2 class=" card-title">Buisness Logs</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-success btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Inventory
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-success btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Purchases
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-success btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Sales
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">{{product.itemid}}</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-atom text-success"> </i> Daily Price
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">{{product.itemid}}</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-calendar-60 text-success"> </i> Weekly Price
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
<!--    <div class=" col-lg-4">-->
<!--      <div class=" card card-chart">-->
<!--        <div class=" card-header">-->
<!--          <h5 class=" card-category">Completed Tasks</h5>-->
<!--          <h3 class=" card-title">-->
<!--            <i class=" tim-icons icon-send text-success"> </i> 12,100K-->
<!--          </h3>-->
<!--        </div>-->
<!--        <div class=" card-body">-->
<!--          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">{{product.itemid}} Inventory</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th class=" text-center" *ngFor="let col of columns">{{col}}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class=" text-center">{{dataTable.current_inventory}}</td>
                <td class=" text-center">{{dataTable.desired_inventory}}</td>
                <td class=" text-center">{{dataTable.current_price|currency}}</td>
                <td class=" text-center">{{dataTable.predicted_price|currency}}</td>
                <td class=" text-center">{{dataTable.purchase}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
