
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Inventory</h4>
          <p class=" category">Company Products</p>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th class=" text-center" *ngFor="let col of columns">{{col}}</th>
              </tr>
              </thead>
              <tbody>
                <tr class=" text-center" *ngFor="let item of data | async">
                  <td>
                      <div class=" form-check">
                          <label class=" form-check-label">
                            <input
                              class=" form-check-input"
                              type="checkbox"
                              value=""
                            />
    
                            <span class=" form-check-sign">
                              <span class=" check"> </span>
                            </span>
                          </label>
                        </div>
                  </td>
                  <td>{{item.product}}</td>
                  <td>{{item.current_inventory}}</td>
                  <td>{{item.desired_inventory}}</td>
                  <td><button class="btn-sm btn-success" (click)="decrease(item)">-</button>
                    <input class=" text-center" value="{{item.purchase}}" name="purchase" size="2">
                    <button class="btn-sm btn-success" (click)="increase(item)">+</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-blue" type="submit" (click)="deleteNotification('top', 'center')">Delete</button>
          <button class=" btn btn-fill btn-blue" type="submit" (click)="saveNotification('top', 'center')">Save</button>
          <button class=" btn btn-fill btn-blue" type="submit" (click)="orderPlacedNotification('top', 'center')">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
